html,
body {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;

  canvas {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.buttons {
  flex-flow: column;
  position: fixed;
  display: flex;
  bottom: 1rem;
  right: 1rem;

  button {
    border-radius: 50%;
    outline: none;
    height: 3rem;
    margin: 5px;
    width: 3rem;
  }
}
